* { display: none; }
div#header {
    position: fixed;
}

div#first {
    width: 100%;
    height: 500px;
    background: burlywood;
}

div#second {
    width: 100%;
    height: 500px;
    background: #27ccc4;
}

div#third {
    width: 100%;
    height: 500px;
    background: #10bd05;
}

div#third {
    width: 100%;
    height: 500px;
    background: #d2147d;
}

div#four {
    width: 100%;
    height: 500px;
    background: #60f403;
}

div#five {
    width: 100%;
    height: 500px;
    background: #1b1d19;
}

div#last {
    width: 100%;
    height: 500px;
    background: #5433d8;
}
